<main class="items">
  <% if current_user %>
    <div class="filters row">
      <div class="col-sm-12 col-xs-12 pt10">
        <%= form_tag(items_path, method: :get, class: "label") do %>
          <div class="col-sm-3">
            <%= select_tag "filter[category]", category_options, prompt: "Filter by category", class: "select-submit form-control" %>
          </div>

          <div class="col-sm-3">
            <%= select_tag "filter[status]", status_options, prompt: "Filter by status", class: "select-submit form-control" %>
          </div>

          <div class="col-sm-3">
            <%= select_tag "filter[rating]", rating_options, prompt: "Filter by rating", class: "select-submit form-control" %>
          </div>

          <div class="col-sm-3">
            <%= select_tag "filter[priority]", priority_options, prompt: "Filter by priority", class: "select-submit form-control" %>  
          </div>
        <% end %>
      </div>
      
      <div class="clb"></div>
    </div>
  <% end %>
  
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <% if current_user %>
        <h1 class="tac">My Stuff</h1>

        <table>
          <thead>
            <tr>
              <th>Title</th>
              <th>Category</th>
              <th class="dn-sm">Rating</th>
              <th class="dn-sm">Priority</th>
              <th>Status</th>
            </tr>
          </thead>

          <tbody>
            <% @items.each do |item| %>
              <tr>
                <td><%= link_to item.title, item_path(item) %></td>
                <td><%= item.category %></td>
                <td class="dn-sm">
                  <% if item.rating == 0 %>
                    -
                  <% else %>
                    <%= item.rating %>
                  <% end %>
                </td>
                <td class="dn-sm"><%= item.priority %></td>
                <td><%= item.status %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <br>

        <div class="tac">
          <span class="add-item-button btn btn-primary">+ Add Item</span>
        </div>
      <% else %>
        <p>You need to <%= link_to "log in", new_user_session_path %> or <%= link_to "register", new_user_registration_path %>.</p>
      <% end %>
    </div>
  </div>
</main>