<main class="items">
  <div class="filters remainder-height col-sm-3">
    <h2>Filters</h2>
      
    <%= form_tag(items_path, method: :get, class: "label") do %>
      <%= label_tag :category %>
      <%= select_tag "filter[category]", category_options, prompt: "Filter by category", class: "form-control" %>
      
      <%= label_tag :status %>
      <%= select_tag "filter[status]", status_options, prompt: "Filter by status", class: "form-control" %>

      <%= label_tag :rating %>
      <%= select_tag "filter[rating]", rating_options, prompt: "Filter by rating", class: "form-control" %>

      <%= label_tag :priority %>
      <%= select_tag "filter[priority]", priority_options, prompt: "Filter by priority", class: "form-control" %>  
      
      <%= submit_tag "Filter", class: "form-control btn btn-primary" %>
    <% end %>
  </div>
  
  <div class="col-sm-9">
    <% if current_user %>
        <h1>My Stuff</h1>

        <table>
          <thead>
            <tr>
              <th>Title</th>
              <th>Category</th>
              <th>Rating</th>
              <th>Priority</th>
              <th>Status</th>
            </tr>
          </thead>

          <tbody>
            <% @items.each do |item| %>
              <tr>
                <td><%= link_to item.title, item_path(item) %></td>
                <td><%= item.category %></td>
                <td>
                  <% if item.rating == 0 %>
                    -
                  <% else %>
                    <%= item.rating %>
                  <% end %>
                </td>
                <td><%= item.priority %></td>
                <td><%= item.status %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <br>

        <div class="tac">
          <%= link_to '+ Add Item', new_item_path, class: "btn btn-primary" %>
        </div>
    <% else %>
      <p>You need to <%= link_to "log in", new_user_session_path %> or <%= link_to "register", new_user_registration_path %>.</p>
    <% end %>
  </div>
</main>