<!DOCTYPE html>
<html>
  <head>
    <title>Later/Rater</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <header class="primary">
      <div class="col-sm-6">
        <%= link_to root_path do %>
          <h1>Later/Rater</h1>
        <% end %>
      </div>
      
      <nav class="top-nav t0 r0">
        <ul class="tar lisn">
          <% if current_user %>
            <li>
              <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
            </li>
          <% else %>
            <li>
              <%= link_to "Log In", new_user_session_path %>
            </li>

            <li>
              <%= link_to "Register", new_user_registration_path %>
            </li>   
          <% end %>   
          
          <li>
            <%= link_to "+ Add Item", new_item_path %>
          </li> 
        </ul> 
      </nav>
      
      <div class="clb"></div>
    </header>
    
    <%= yield %>
  </body>
</html>
