<!DOCTYPE html>
<html>
  <head>
    <title>Later/Rater</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <header class="primary">
      <div class="col-sm-4 col-sm-offset-4 tac">
        <%= link_to root_path do %>
          <h1>Later/Rater</h1>
        <% end %>
      </div>
      
      <nav class="top-nav t0 r0">
        <ul class="tar lisn">
          <% if current_user %>   
            <li class="dn-sm">
              <span class="add-item-button">+ Add Item</span>
            </li> 
          <% end %>   
        </ul> 
      </nav>
      
      <div class="clb"></div>
    </header>
    
    <div class="container-fluid">
      <%= yield %>
    </div>

    <div id="popup" class="popup-overlay" style="display:none;">
      <div class="popup col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
        <div class="close"></div>

        <div id="popup-content-container">
          <%= render 'items/form', item: @item %>
        </div>
      </div>
    </div>
    
    <div class="clb mb30"></div>
  </body>
</html>
